<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<property name="connection.url">jdbc:mysql://localhost:3306/supersense_mapping</property>
		<property name="connection.username">root</property>
		<property name="connection.password">178101</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="hibernate.hbm2ddl.import_files">semantic_types.sql,modifiers.sql,parameters.sql</property>
		<property name="connection.pool_size">100</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.connection.release_mode">on_close</property>
		
		<!-- configuration pool via c3p0-->   
		<property name="c3p0.acquire_increment">1</property>   
		<property name="c3p0.idle_test_period">100</property> <!-- seconds -->   
		<property name="c3p0.max_size">100</property>   
		<property name="c3p0.max_statements">0</property>   
		<property name="c3p0.min_size">10</property>   
		<property name="c3p0.timeout">100</property> <!-- seconds -->   
		 
		
		<mapping class="br.uniriotec.ppgi.mapping.model.Parameter" />
		<mapping class="br.uniriotec.ppgi.mapping.model.SemanticType" />
		<mapping class="br.uniriotec.ppgi.mapping.model.Supersense" />
		<mapping class="br.uniriotec.ppgi.mapping.model.MySynset" />
		<mapping class="br.uniriotec.ppgi.mapping.model.MySynsetSemtype" />
		<mapping class="br.uniriotec.ppgi.mapping.model.MySynsetSemtypeID" />
		<mapping class="br.uniriotec.ppgi.mapping.model.ModifierSynset" />

	</session-factory>
</hibernate-configuration>
